body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.fire-background-overlay {
  /* this is used as a color overlay for the background image */
  box-shadow: inset 0 0 0 1000px rgba(188, 0, 0, 0.4);
}

.normal-background-overlay {
  box-shadow: inset 0 0 0 1000px rgba(232, 232, 232, 0.74);
}

.black-shadow {
  text-shadow: 3px 3px 3px #000, -3px 3px 3px #000, -3px -3px 3px #000, 3px -3px 3px #000;
}