@charset "utf-8";

$volcano-metal: #2b2c30;
$hot-sauce-yellow: #dfdd3e;
$cj-logo-orange: #ea9124;
$volcano-lava: #eb650f;
$logo-background: #1f1f1f;
$fire-emblem-red: #85161e;
$fire-emblem-orange: #c9844b;
$fire-emblem-yellow: #a9ae13;
$fire-emblem-pink: #bf3b51;
$cj-progression-background: #ebb366;
$cj-progression-foreground: #fff7d9;
$cj-progression-text: #3d261c;
$hideout-gray-rock: #666666;

$primary: white;

$navbar-background-color: $logo-background;
$navbar-height: 10rem;
$navbar-item-color: $cj-logo-orange;

$navbar-item-hover-color: $hot-sauce-yellow;
$navbar-item-hover-background-color: $logo-background;

$box-background-color: $fire-emblem-pink;
$box-color: $primary;

$table-background-color: $cj-progression-foreground;
$table-color: $cj-progression-text;
$table-cell-border: $cj-progression-background;
$table-striped-row-even-background-color: $cj-progression-background;
$table-row-hover-background-color: $cj-logo-orange;
$table-striped-row-even-hover-background-color: $table-row-hover-background-color;

// color is not actually used, but is seen when loading screen. This create a seamless effect (if it's the same as navbar background
$body-background-color: $logo-background;

.emblem-pink-bg {
  background-color:  rgba($fire-emblem-pink, .6);
}

.emblem-red-bg {
  background-color: $fire-emblem-red;
}

.emblem-yellow {
  color: $fire-emblem-yellow;
}

@import "~bulma/bulma";

.hideout-gray-bg {
  background-color: rgba($hideout-gray-rock, .6);
}
