@charset "utf-8";

$volcano-metal: #2b2c30;
$hot-sauce-yellow: #dfdd3e;
$cj-logo-orange: #ea9124;
$volcano-lava: #eb650f;
$logo-background: #1f1f1f;
$fire-emblem-red: #85161e;
$fire-emblem-orange: #c9844b;
$fire-emblem-yellow: #a9ae13;
$fire-emblem-pink: #bf3b51;

$primary: white;

$navbar-background-color: $logo-background;
$navbar-height: 10rem;
$navbar-item-color: $cj-logo-orange;

$navbar-item-hover-color: $hot-sauce-yellow;
$navbar-item-hover-background-color: $logo-background;

$box-background-color: $fire-emblem-pink;
$box-color: $primary;

$body-background-color: $fire-emblem-red;

@import "~bulma/bulma";